/doc
/sandbox
/projects/Win/vc12/cds.opensdf
/projects/Win/vc12/cds.sdf
/projects/Win/vc12/cds.v12.suo
/tests/cppunit/*.o
*.o
*.d
/tests/data/dictionary.txt
/bin
/obj
/projects/Win/vc12/*.user
/projects/Win/vc14/cds.sdf
/projects/Win/vc14/cds.v14.suo
/projects/Win/vc14/*.user
/projects/Win/vc14/*.opensdf
/projects/Win/vc14/.vs/
/todo-2.1.txt
*.log
/.project
/projects/Win/vc14/*.opendb
/test/stress/data/dictionary.txt
/projects/Win/vc14/cds.VC.db
/todo-2.2.txt
/build/Makefile
/build/build.sh
/build/sample
