/doc
/sandbox
*.o
*.d
/bin
/obj
/projects/Win/vc14/cds.sdf
/projects/Win/vc14/cds.v14.suo
/projects/Win/vc14/*.user
/projects/Win/vc14/*.opensdf
/projects/Win/vc14/.vs/
/projects/Win/vc141/.vs/
/projects/Win/vc141/*.user
*.log
/.project
/projects/Win/vc14/*.opendb
/test/stress/data/dictionary.txt
/projects/Win/vc14/cds.VC.db
/.cproject
/.settings/
/tools/change_license.pl
