/tools/doxygen.log
/doc
/projects/Win/vc12/cds.opensdf
/projects/Win/vc12/cds.sdf
/projects/Win/vc12/cds.v12.suo
/tests/cppunit/*.o
*.o
*.d
/todo-2.0.txt
/tests/data/dictionary.txt
/bin
obj
/projects/Win/vc12/*.user
/projects/Win/vc12/cds.v14.suo
/projects/Win/vc14/cds.sdf
/projects/Win/vc14/cds.v14.suo
/projects/Win/vc14/cds.vcxproj.user
/projects/Win/vc14/*.opensdf
/projects/Win/vc14/.vs/cds/v14
/build/build-mingw-amd64.bat
/build/build-mingw-amd64.log
/todo-2.1.txt
